body {
	font-size: 14px;
	font-family: Roboto, Verdana, sans-serif;
	line-height: 1.45;
}

#page-wrapper {
	margin: 0 auto;
	max-width: 1170px;
}

header {
	background: #d1d1d1;
	background: -moz-linear-gradient(top, #d1d1d1 0%, #f0f0f0 100%);
	background: -webkit-linear-gradient(top, #d1d1d1 0%,#f0f0f0 100%);
	background: linear-gradient(to bottom, #d1d1d1 0%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#f0f0f0',GradientType=0 );
	position: sticky;
	top: 0;
}

img#logo:hover {
	filter: url(img/desaturate.svg#greyscale);
}

a {
	color: #8EC541;
}

a:hover {
	color: #628F1D;
	text-decoration: none;
}

#responsive-content {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}

@media screen and (min-width: 768px) {
	#responsive-content {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	}
}

@media screen and (min-width: 1200px) {
	#responsive-content {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	}
}